body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1300px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1300px;
}
#u1 {
  position:absolute;
  left:2px;
  top:642px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:200px;
  height:70px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:900px;
  top:60px;
  width:100px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u5 {
  position:absolute;
  left:782px;
  top:74px;
  width:88px;
  height:16px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:684px;
  top:74px;
  width:63px;
  height:16px;
  color:#666666;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:20px;
  top:100px;
  width:980px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u10 {
  position:absolute;
  left:778px;
  top:135px;
  width:222px;
  height:45px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u11 {
  position:absolute;
  left:20px;
  top:135px;
  width:727px;
  height:45px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12 {
  position:absolute;
  left:20px;
  top:270px;
  width:727px;
  height:104px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:104px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:210px;
  width:698px;
  height:44px;
  font-size:18px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:44px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:778px;
  top:210px;
  width:222px;
  height:164px;
  color:#666666;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:164px;
}
#u18 {
  position:absolute;
  left:2px;
  top:74px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:790px;
  top:245px;
  width:188px;
  height:105px;
  font-size:12px;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:105px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:790px;
  top:219px;
  width:72px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:940px;
  top:219px;
  width:50px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u24 {
  position:absolute;
  left:20px;
  top:395px;
  width:124px;
  height:28px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:433px;
  width:767px;
  height:165px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:165px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:927px;
  top:10px;
  width:73px;
  height:16px;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
